@use './mixin.scss';
@use './element-ui.scss';
@use './element-plus/index.scss';
@use './sidebar.scss';
@use './btn.scss';
@use './petAdopt.scss';
body {
  // 全局字体和背景色
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fcf6ed;
}
// 暗黑模式下的背景色
html.dark body {
  background-color: #0b0e18;
}


