@use './variables.module.scss' as vars;

#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: calc(vars.$base-sidebar-width + 2rem);
    position: relative;
  }


  .sidebar-container {
    transition: width 0.28s;
    // 宽度,用来实现慢慢收缩的效果
    width: vars.$base-sidebar-width !important;
    // 固定在页面容器上
    position: fixed;
    
    // 调整位置
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    z-index: 1001;
    border-radius: 2rem;
    // 菜单内容超过菜单高度隐藏
    overflow: hidden;
    // 增加shadow,让其与背景色区分开,不然看不出左侧菜单区域
    box-shadow: 0 20px 40px rgba(145, 69, 57, 0.15);

    --el-menu-hover-bg-color: rgba(254, 156, 140, 0.2);
    --el-menu-bg-color: transparent;
    --el-menu-text-color: #914539;
    --el-menu-active-color: #ffffff;
    // 图标和菜单名距离
    .svg-icon {
      margin-right: 10px !important;
    }

    // 无子菜单的菜单的样式,主要是防止收缩后菜单消失
    .el-menu-item .el-menu-tooltip__trigger {
      padding: 0 16px;//收起时调整图标位置
      display: inline-block !important;
    }

    .el-sub-menu {
      // 有子菜单的菜单的样式
      > .el-sub-menu__title {
        border-radius: 0.75rem !important;
        // 让有子菜单的菜单位置和没子菜单的菜单一样
        margin: 3px 12px !important;
        // 去除默认padding,让收起图标在最右边
        padding-right: 0px !important;
        // 去除原始收起图标
        .el-sub-menu__icon-arrow {
          display: none !important;
        }

        .custom-arrow {
          // 让收起图标在最右边
          margin-left: auto !important;
          display: inline-block;
          transform: rotate(0deg);
          transition: transform 0.3s ease;
        }
        // .el-sub-menu__title 里面 所有元素 的文字颜色都变成 #914539
        * {
          color: #914539 !important;
        }
      }
      // 菜单打开时arrow图标旋转
      &.is-opened > .el-sub-menu__title {
        .custom-arrow {
          transform: rotate(180deg);
        }
      }

    }

    // 没子菜单的菜单样式
    .el-menu-item {
      // 让有子菜单的菜单位置和没子菜单的菜单一样
      margin: 3px 12px;
      border-radius: 0.75rem !important;
      &.is-active {
        transition: transform 0.2s ease;
        background-color: #fe9c8c !important;
        color: #ffffff !important;
        &:focus {
          transform: rotate(0deg);
        }
        &:hover {
          transform: rotate(3deg);
        }
      }
    }

  }
  // 收起菜单
  .hideSidebar {
    .sidebar-container {
       // 收起菜单后的菜单宽度
      width: 54px !important;
    }
    // 收起菜单时减少菜单宽度,让页面区域宽度变大
    .main-container {
      margin-left: calc(54px + 2rem);
    }

    // 去除箭头,防止挤占空间
    .custom-arrow {
      display: none !important;
    }

    .el-menu-item,
    .el-sub-menu > .el-sub-menu__title {
      margin: 3px 4px !important;

    }


    .el-sub-menu {
      &>.el-sub-menu__title {
        padding: 0 !important;
        .svg-icon {
          margin-left: 16px;
        }
      }
    }
    // 去除所有文字
    .el-menu--collapse {
      .el-sub-menu {
        &>.el-sub-menu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
          &>i {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }


// 手机端菜单
  .mobile {
    // 让页面区域占尽所有空间
    .main-container {
      margin-left: 0px;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        // 把这个元素在 X 轴方向向左移动一个“侧边栏宽度”的距离,参数分别为移动,缩放,旋转
        transform: translate3d(-(vars.$base-sidebar-width), 0, 0);
      }
    }
  }

}
// 收缩后有子菜单的子菜单弹窗样式
.el-menu--vertical {
  .nest-menu .el-sub-menu>.el-sub-menu__title,
  .el-menu-item {
    color: #914539 !important;

    &:hover {
      background-color: rgba(254, 156, 140, 0.2) !important;
      color: #914539 !important;
    }

    &.is-active {
      background-color: #fe9c8c !important;
      color: #ffffff !important;
    }
  }

}
// 暗黑模式下菜单样式
html.dark {
  #app .sidebar-container {
    --el-menu-hover-bg-color: #222535;
    --el-menu-bg-color: transparent;
    --el-menu-text-color: #ffffff;
    --el-menu-active-color: #0b0e18;
   box-shadow: 10px 0 30px rgba(255, 105, 180, 0.15);

    .el-sub-menu {
      > .el-sub-menu__title {
        * { color: #ffffff !important; }

        .custom-arrow {
          color: #ffffff !important;
        }

        &:hover {
          background-color: #222535 !important;
        }
      }

      &.is-opened > .el-sub-menu__title {
        color: #ffffff !important;

        .custom-arrow {
          color: #ffffff !important;
          transform: rotate(180deg);
        }
      }
    }

    .el-menu-item {
      * { color: #ffffff !important; }

      &:hover {
        background-color: #222535 !important;
        color: #ffffff !important;
      }

      &.is-active {
        background-color: #ff85c9 !important;
        color: #0b0e18 !important;
        box-shadow: 0 0 15px rgba(255, 133, 201, 0.4);
      }
    }

  }
  .el-menu--vertical {
    .el-menu-item, .nest-menu .el-sub-menu > .el-sub-menu__title {
      color: #ffffff !important;

      &:hover {
        background-color: #222535 !important;
        color: #ffffff !important;
      }

      &.is-active {
        background-color: #ff85c9 !important;
        color: #0b0e18 !important;
      }
    }
  }
}
