@import 'tailwindcss';

@theme {
  --color-primary:             #914539;
  --color-primary-dim:         #82392e;
  --color-primary-container:   #fe9c8c;
  --color-primary-fixed:       #fe9c8c;
  --color-on-primary:          #ffefed;
  --color-on-primary-container:#5f1f16;

  --color-secondary:           #04647d;
  --color-secondary-dim:       #00576e;
  --color-secondary-container: #9ae1ff;
  --color-on-secondary-container:#005267;

  --color-tertiary:            #006b1f;
  --color-tertiary-container:  #9bff9b;
  --color-on-tertiary-container:#00631d;

  --color-surface:             #fcf6ed;
  --color-surface-dim:         #dad4c8;
  --color-surface-bright:      #fcf6ed;
  --color-surface-low:         #f6f0e6;
  --color-surface-container:   #ede7dd;
  --color-surface-high:        #e8e2d7;
  --color-surface-highest:     #e2dcd1;
  --color-surface-lowest:      #ffffff;

  --color-on-surface:          #312e29;
  --color-on-surface-variant:  #5e5b54;
  --color-outline:             #7a766f;
  --color-outline-variant:     #b1ada5;

  --font-headline: 'Plus Jakarta Sans', sans-serif;
  --font-body:     'Plus Jakarta Sans', sans-serif;

  --radius-card:   1.5rem;
  --radius-input:  0.75rem;
  --radius-badge:  1rem;
  --radius-full:   9999px;
}
